.pickfrompage {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}

/* .bg-diagonal-stripes {
    background-image: repeating-linear-gradient(
      -45deg,
      #ffffff 0,
      #ffffff 5px,
      #f1f1f1 5px,
      #f1f1f1 10px
    );
  } */