.pickfrompage {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}

.bg-diagonal-stripes {
    background-image: repeating-linear-gradient(
      -45deg,
      #f4f4f4 0,
      #f4f4f4 5px,
      #f6f6f6 5px,
      #f6f6f6 10px
    );
  }